---
title: Ideas in Software is Loaded
---

<!-- <ul>
<% sitemap.resources.select{|n| n.path.start_with?("posts/")}.each do |f| %>
<li><%= f.path %>: <%= f.metadata %> <%= link_to f.metadata[:page]["title"], f.path %> </li>
<% end %>
</ul> -->


<%= partial "posts/20160130-create_xml_in_java.html" %>
